.dozentLogin{
    background-color: #334d80;
    height: 100%;
    width: 100%;
    position: fixed;
    text-align: center;
    align-content: center;
    display: grid;
    place-items: center;

}
.dozentLogin .logo_gametheory{
    font-family: Castellar;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    color: white;
    font-size: 36px;
    margin: auto;
    margin-bottom: 2%;
}
.dozentLogin .loginContainer{

    background-color: white;
    min-height: 300px;
    min-width: 300px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2% 3%;
    display: block;
    margin: auto;
    border-radius: 6px;

}

.inp_loginData{

    width: 90%;
    padding: 2%;
    outline: none;
    padding-left: 15px;

}
.inp_label{
    font-size: 20px;
    text-align: left;
    margin-left: 3%;
    margin-bottom: 2%;


}

.btn{
    border-radius: 6px;
    font-size: 20px;
    outline: none;
    background-color: #e1e3e8;
    padding: 0.8%;


}

.btn_login{

    margin-top: 2%;
    padding: 4% 30%;
    background-color: #002060;
    color: white;


}

.field_login{
    margin: 3% 0;
    position: relative;
}
.span_hide{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(20%);

}
.btn_hide{

    border-color: transparent;
    background-color: transparent;
    outline: none;

}
.lbl_view{
    float: right;
    color: gray;
}

.href_password{

    color: gray;
    text-decoration: none;
}

.div_password{
    margin-top: 4%;
}

.div_register{
    margin-top: 1%;
}

.span_switch{
    float: right;
    margin-top: 4%;
    color: gray;
}

.dozentLogin .fa{
    color: gray;
}
