@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

.cardarea{
    position: fixed;
    height: 100%;
    width: 100%;
}

.cardarea .txt_card{
    color: white;
    text-align: center;
    margin-top: 70%;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    height: 51%;
    border-radius: 10%;
    margin-right: 3.5%;
    margin-left: 3.5%;
    float: left;

}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.one{
    float: left;
    background-color: #bc0707;
}

.two{
    float: left;
    background-color: #bc0707;

}

.four{
    float: right;
    background-color: #2b2b2c;
}

.three{
    float: right;
    background-color: #2b2b2c;

}

.lbl-pick{
    display:inline-block;
    width: 72%;
    height: auto;
    text-align:left;
    margin-right:3%;
    padding-bottom: 3%;
    padding-top: 3%;
    font-size: 170%;
    font-family: Calibri, sans-serif;


}

.lbl-round{
    display:inline-block;
    vertical-align:bottom;
    width:20%;
    text-align: right;
    padding-bottom: 3%;
    padding-top: 3%;
    font-size: 170%;
    font-family: Calibri, sans-serif;

}

.lbl-card{

    color: white;
    text-align: center;
    margin-top: 70%;
    font-size: 170%;
    font-family: Calibri, sans-serif;
}



.btn_confirm {

    width: 250px;
    margin: 4% 1%;
    float:right;
}

.btn_confirm:hover{
    background-color: #002060;
    color: white;
}

.btn_confirm:disabled{
    background-color: gray;
    opacity: 50%;
    color: white;
}

hr {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #d9d9d9;
}
label, input{
    cursor: pointer;
}
h2,h3,h4,h5{
    font-weight: 600;
    line-height: 1.3;
    color: #1f2949;
}
h2{
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 12px;
    font-weight: 400;
}
img{
    max-width: 100%;
    display: block;
    vertical-align: middle;
}
.container {
    max-width: 99vw;
    margin: 15px auto;
    padding: 0 15px;
}

.top-text-wrapper {
    margin: 20px 0 30px 0;
}
.top-text-wrapper h4{
    font-size: 24px;
    margin-bottom: 10px;
}
.top-text-wrapper code{
    font-size: .85em;
    background: linear-gradient(90deg,#fce3ec,#ffe8cc);
    color: #ff2200;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}
.tab-section-wrapper{
    padding: 30px 0;
}

.grid-wrapper {
    display: grid;
    grid-gap: 3%;
    place-items: center;
    place-content: center;
    height: 60%;
}
.grid-col-auto{
    grid-template-columns: repeat(auto-fill, minmax(280px, .1fr));
    grid-template-rows: auto;
}
.grid-col-1{
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
}
.grid-col-2{
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, auto);
}
.grid-col-3{
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);
}
.grid-col-4{
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(1, auto);
}


/* ******************* Selection Radio Item */

.selected-content-left{
    text-align: center;
    border-radius: 35px;
    box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0);
    border: solid 2px transparent;
    background: #cf1414;
    max-width: 280px;
    height: 30em;
    width: 30em;
    padding: 15px;
    display: grid;
    grid-gap: 15px;
    place-content: center;
    transition: .3s ease-in-out all;
}

.selected-content-right{
    text-align: center;
    border-radius: 35px;
    box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0);
    border: solid 2px transparent;
    background: #0c0c0c;
    max-width: 280px;
    height: 30em;
    width: 30em;
    padding: 15px;
    display: grid;
    grid-gap: 15px;
    place-content: center;
    transition: .3s ease-in-out all;
}

.selected-label{
    position: relative;
}
.selected-label input{
    display: none;

}
.selected-label .icon{
    width: 20px;
    height: 20px;
    margin: 5%;
    border: solid 2px black;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 500px;
    left: -0.4em;
    transition: .3s ease-in-out all;
    transform: scale(1);
    z-index: 1;
}
.selected-label .icon:before{

    position: absolute;
    width: 10px;
    height: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    color: #000;
    text-align: center;
    opacity: 0;
    transition: .2s ease-in-out all;
    transform: scale(2);

}
.selected-label input:checked + .icon{
    background: #002060;
    border-color: white;
    transform: scale(1.2);
}
.selected-label input:checked + .icon:before{
    color: #002060;

    transform: scale(.8);
}
.selected-label input:checked ~ .selected-content{
    box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5);
    border: solid 2px #002060;
}
