h1 {
    margin: 0;
    padding: 0;
}

.popup {
    position: fixed;
    width: 70%;
    height:70%;
    top: 0;
    left: 20%;
    right: 0;
    bottom: 0;
    margin: auto;
    border: #002060;
    border-style: solid;
    background-color: white;

}
.popup_inner {
    position: absolute;
    left: 5%;
    right: 5%;
    top: -2%;
    bottom: 5%;
    margin: auto;


}
.inp_rundenData{

    width: 90%;
    padding: 1%;
    outline: none;
    padding-left: 15px;
    font-size: 20px;

}
.inp_labelRunde{
    font-size: 24px;
    text-align: left;
    margin-left: 3.6%;
    margin-bottom: 2%;


}

.btn_save{

    background-color: #002060;
    color: white;
    outline: none;
    border-radius: 6px;
    padding: 1% 1%;
    margin-left: 99%;

}

#fill {
    padding: 50px 400px 50px 0;
}

.popup_inner .fa{
    color: white;
    border: 1px;

}
