.wartebereich_dozent{



}

.player_overview{
    height: 90%;
    width: 20%;
    position: fixed;
    text-align: left;
    margin: 1%;

}

.main_content {

    position: fixed;
    height: 82%;
    width: 80%;
    right: 0px;
    display: grid;
    align-content: center;
    place-items: center;
}

.bottomrow{
    position: fixed;
    height: 10%;
    width: 80%;
    right: 0px;
    top: 88%;




}

.btn_nav{
    width: 250px;
    margin: 1% 1%;
    float:right;
}

.btn_nav:hover{
    background-color: #002060;
    color: white;
}

.span_game{
    margin: auto;
    font-size: 32px;
}

.span_gameID{
    margin: auto;
    font-size: 48px;
    font-weight: bold;
}
.span_spieler{

    font-size: 32px;
    margin-left: 13%;


}

.div_dataCollection li{
    list-style: none;
    width: 80%;
    padding: 5%;
    margin: 3%;
    display: block;
    background-color: #e1e3e8;
    font-size: 24px;
    text-align: center;

}

.btn_down{
    margin-left:48%;

}

.wartebereich_dozent .fa{
    color: gray;
    font-size: 32px;
    font-weight: bold;
}

.popup_rundeneinstellungen {

}

Popup{

}