.drop_kategorien{
    float: right;

    text-align: left;
    font-size: 16px;
    overflow: hidden;


}

.btn_kategorien{
    text-align: center;
    color: white;
    font-size: 36px;
    width: 100%;
    padding: 14px 16px;
    border: none;
    outline: none;

}
.drop_kategorien:hover .dropdown-content {
    display: block;
}
.drop {
    float: right;
    margin-right: 35%;
    margin-top: -3%;

}

.dropdown-content label{
    padding: 12px 16px;
    display: block;

}

.dropdown-content input{
    float: right;
    margin-top: -16.5%;
    margin-right: 15%;
}

.dropdown-content button {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.dropdown-content button:hover {
    background-color: #ddd;
    width: 100%;
}