.lbl-header{

    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
    font-size: 200%;
    font-family: Calibri;

}

.lbl-footer{
    text-align: left;
    padding-bottom: 3%;
    padding-top: 20%;
    padding-left: 3%;
    font-size: 200%;
    font-family: Calibri;
}

.instructionpage{

    position: fixed;
    min-height: 100%;

}

.paragraph-Anleitung{

    padding-left: 30%;
    padding-right: 30%;
    text-align: justify;
    font-size: 120%;
    min-width: 30%;


}
