.txt_email{
    color: white;
    text-align: center;
    margin-top: 60%;
}

.label_konto{

    text-align: left;
    padding-bottom: 3%;
    padding-top: 3%;
    font-size: 150%;
    font-family: Calibri;
}

.container-left .konto_textarea{

    padding:10px 10px 10px 10px;
    resize: none;
    width: 200%;
    height: auto;
    font-size: 150%;
    font-family: Calibri;
}


.kontoeinstellung{

    position: fixed;
    height: 100%;
    width: 100%;

}

.container-left .btn_save{

    margin-top: 3%;
    width: 35%;
    height: 10%;
    position: absolute;
}

.btn_konto{

    width: 20%;
    height: 40%;
    color: white;
    background-color: #002060;
    border-radius: 5%;

}

.container-left{

    float: left;
    margin-left: 10%;
    margin-top: 5%;

}


