.side_container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 17%;
    height: 50%;
    background-color: #334D80;
    border-radius: 10%;
    margin-top: 12%;

}

.right{
    float: right;
    background-color: #334D80;
    margin-right: 13%

}
.left{
    float: right;
    background-color: #334D80;

}

.side_container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.txt_game{
    color: white;
    text-align: center;
    margin-top: 60%;
}

.game_overview{
    position: fixed;
    height: 100%;
    width: 100%;


}

.main_container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 60%;
    background-color: #334D80;
    border-radius: 10%;
    margin: 10%;
    float: right;


}

.main_container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.btn_gameSelect{

    margin-top: 15%;
    width: 50%;
    height: 10%;


}