.icon_bar .logo_gametheory{
    font-family: Castellar;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    color: white;
    font-size: 35px;

}
.icon_bar .dozent_textarea{
    float: right;
    width: 10%;
    text-align: left;
    padding: 1px 0;
    margin: 20px 5px 0px 5px;
    transition: all 0.3s ease;
    font-size: 20px;
}



.page{
    min-height: 100%;
    position: relative;

}


.icon_bar {
    width: 100%;
    background-color: #002060;
    overflow: hidden;
    white-space: nowrap;

}

.icon_bar a {
    float: right;
    width: 10%;
    text-align: center;
    padding: 12px 0;
    color: white;
    font-size: 36px;
}

.icon_bar a:hover {
    background-color: #000;
}

.active {
    background-color: #002060;
}

.content{
    background-color: transparent;
    position: fixed;
    height: 100%;
    width: 100%;

}

.footer{
    width: 100%;
    height: 2em;
    background-color: #002060;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    z-index: +1;

}

.txt {
    background-color: #002060;
    color: #fff;
}

.dropdown {
    float: right;
    width: 10%;
    text-align: center;
    color: white;
    font-size: 36px;
    overflow: hidden;
}

.dropdown .dropbtn {
    text-align: center;
    background-color: #002060;
    color: white;
    font-size: 36px;
    width: 100%;
    padding: 12px 16px;
    border: none;
    outline: none;
}

.dropbtn:hover {
background-color: #000000;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
}
.dropdown-content .txt {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;

}

.dropdown-select:hover {
    background-color: #ddd;
    width: 100%;
}

.dropdown-select a:hover {
    background-color: #ddd;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}
